body {
  background: #222;
  color: #FFF;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}
#container {
  margin: 0;
  padding: 0;
}
#header {
  padding: 1em;
  margin: 0;
  background-color: #3366AA;
  border-bottom: 2px solid #000;
}
#content {
  padding: 1em 1em 0 1em;
  margin: 0 320px 1em 0;
}
#footer {
  padding: 0.25em;
  margin: 0;
  font-size: 0.8em;
  text-align: center;
  color: #000;
  background-color: #3366AA;
  border-top: 2px solid #000;
}
#sidebar {
  padding: 1em 0 0 0;
  width: 300px;
  float: right;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0em;
  margin-bottom: .25em;
  font-weight: bold;
}
h1 { font-size: 2.2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }
p {
  margin-bottom: 1em;
  line-height: 1.3;
}
a {
  color: #3366AA;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#header a, #footer a {
  color: #000;
}
#logo a:hover {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 1em;
}
ul.entries li.entry {
  margin: 0 0 1em 0;
}
ul.entries li.entry .author {
  margin-bottom: 1em;
  font-size: 0.8em;
  font-style: italic;
  color: #999;
}
ul.entries li.entry {
  padding-bottom: 1em;
  border-bottom: 2px dotted #333;
}
ul.feeds li.feed {
  margin: 0 0 0.25em 0;
}
#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6 {
  color: #3366AA;
}
#sidebar a {
  color: #999;
}
#search {
  margin-bottom: 2em;
}
.paginated {
  margin-top: 1em;
  font-weight: bold;
  color: #999;
}
.paginated ul, .paginated ul li {
  display: inline;
  margin: 0 3px;
  padding: 0;
} 
.paginated ul li.current_page {
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
}
.paginated a:hover {
  text-decoration: none;
  margin: 0;
  border-top: 2px solid #3366AA;
  border-bottom: 2px solid #3366AA;
}
.clear {
  clear: both;
}
